In [1]:
import pickle

In [2]:
original = "C:/Users/nal17/Documents/ud120-projects/final_project/final_project_dataset.pkl"
destination = "C:/Users/nal17/Documents/ud120-projects/final_project/final_project_dataset_final.pkl"

content = ''
outsize = 0
with open(original, 'rb') as infile:
    content = infile.read()
with open(destination, 'wb') as output:
    for line in content.splitlines():
        outsize += len(line) + 1
        output.write(line + str.encode('\n'))

enron_data = pickle.load(open('C:/Users/nal17/Documents/ud120-projects/final_project/final_project_dataset_final.pkl', "rb"))

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(enron_data)

In [5]:
df.loc['poi'].describe()

count       146
unique        2
top       False
freq        128
Name: poi, dtype: object

In [5]:
def poiEmails():
    email_list = ["kenneth_lay@enron.net",    
            "kenneth_lay@enron.com",
            "klay.enron@enron.com",
            "kenneth.lay@enron.com", 
            "klay@enron.com",
            "layk@enron.com",
            "chairman.ken@enron.com",
            "jeffreyskilling@yahoo.com",
            "jeff_skilling@enron.com",
            "jskilling@enron.com",
            "effrey.skilling@enron.com",
            "skilling@enron.com",
            "jeffrey.k.skilling@enron.com",
            "jeff.skilling@enron.com",
            "kevin_a_howard.enronxgate.enron@enron.net",
            "kevin.howard@enron.com",
            "kevin.howard@enron.net",
            "kevin.howard@gcm.com",
            "michael.krautz@enron.com"
            "scott.yeager@enron.com",
            "syeager@fyi-net.com",
            "scott_yeager@enron.net",
            "syeager@flash.net",
            "joe'.'hirko@enron.com", 
            "joe.hirko@enron.com", 
            "rex.shelby@enron.com", 
            "rex.shelby@enron.nt", 
            "rex_shelby@enron.net",
            "jbrown@enron.com",
            "james.brown@enron.com", 
            "rick.causey@enron.com", 
            "richard.causey@enron.com", 
            "rcausey@enron.com",
            "calger@enron.com",
            "chris.calger@enron.com", 
            "christopher.calger@enron.com", 
            "ccalger@enron.com",
            "tim_despain.enronxgate.enron@enron.net", 
            "tim.despain@enron.com",
            "kevin_hannon@enron.com", 
            "kevin'.'hannon@enron.com", 
            "kevin_hannon@enron.net", 
            "kevin.hannon@enron.com",
            "mkoenig@enron.com", 
            "mark.koenig@enron.com",
            "m..forney@enron.com",
            "ken'.'rice@enron.com", 
            "ken.rice@enron.com",
            "ken_rice@enron.com", 
            "ken_rice@enron.net",
            "paula.rieker@enron.com",
            "prieker@enron.com", 
            "andrew.fastow@enron.com", 
            "lfastow@pdq.net", 
            "andrew.s.fastow@enron.com", 
            "lfastow@pop.pdq.net", 
            "andy.fastow@enron.com",
            "david.w.delainey@enron.com", 
            "delainey.dave@enron.com", 
            "'delainey@enron.com", 
            "david.delainey@enron.com", 
            "'david.delainey'@enron.com", 
            "dave.delainey@enron.com", 
            "delainey'.'david@enron.com",
            "ben.glisan@enron.com", 
            "bglisan@enron.com", 
            "ben_f_glisan@enron.com", 
            "ben'.'glisan@enron.com",
            "jeff.richter@enron.com", 
            "jrichter@nwlink.com",
            "lawrencelawyer@aol.com", 
            "lawyer'.'larry@enron.com", 
            "larry_lawyer@enron.com", 
            "llawyer@enron.com", 
            "larry.lawyer@enron.com", 
            "lawrence.lawyer@enron.com",
            "tbelden@enron.com", 
            "tim.belden@enron.com", 
            "tim_belden@pgn.com", 
            "tbelden@ect.enron.com",
            "michael.kopper@enron.com",
            "dave.duncan@enron.com", 
            "dave.duncan@cipco.org", 
            "duncan.dave@enron.com",
            "ray.bowen@enron.com", 
            "raymond.bowen@enron.com", 
            "'bowen@enron.com",
            "wes.colwell@enron.com",
            "dan.boyle@enron.com",
            "cloehr@enron.com", 
            "chris.loehr@enron.com"
        ]
    return email_list

In [6]:
list = poiEmails()

In [7]:
len(list)

90

In [9]:
df['COLWELL WESLEY']

bonus                                      1200000
deferral_payments                            27610
deferred_income                            -144062
director_fees                                  NaN
email_address                wes.colwell@enron.com
exercised_stock_options                        NaN
expenses                                     16514
from_messages                                   40
from_poi_to_this_person                        240
from_this_person_to_poi                         11
loan_advances                                  NaN
long_term_incentive                            NaN
other                                       101740
poi                                           True
restricted_stock                            698242
restricted_stock_deferred                      NaN
salary                                      288542
shared_receipt_with_poi                       1132
to_messages                                   1758
total_payments                             1490344
total_stock_value                           698242
Name: COLWELL WESLEY, dtype: object

In [10]:
df['SKILLING JEFFREY K']

bonus                                        5600000
deferral_payments                                NaN
deferred_income                                  NaN
director_fees                                    NaN
email_address                jeff.skilling@enron.com
exercised_stock_options                     19250000
expenses                                       29336
from_messages                                    108
from_poi_to_this_person                           88
from_this_person_to_poi                           30
loan_advances                                    NaN
long_term_incentive                          1920000
other                                          22122
poi                                             True
restricted_stock                             6843672
restricted_stock_deferred                        NaN
salary                                       1111258
shared_receipt_with_poi                         2042
to_messages                                     3627
total_payments                               8682716
total_stock_value                           26093672
Name: SKILLING JEFFREY K, dtype: object

In [32]:
df.loc['total_payments',['FASTOW ANDREW S','SKILLING JEFFREY K','LAY KENNETH L']]

FASTOW ANDREW S         2424083
SKILLING JEFFREY K      8682716
LAY KENNETH L         103559793
Name: total_payments, dtype: object

In [27]:
'LAY' in df.columns

False

In [39]:
df.loc['salary'].unique(),df.loc['salary'].describe()

(array([201955, 'NaN', 477, 267102, 239671, 80818, 231330, 213999, 216582,
        187922, 213625, 248546, 278601, 248017, 261516, 330546, 240189,
        261809, 415189, 288542, 314288, 184899, 206121, 365163, 492375,
        210500, 250100, 262788, 221003, 210692, 182245, 170941, 304588,
        440698, 199157, 1060932, 192008, 231946, 274975, 272880, 6615,
        374125, 243293, 262663, 211788, 130724, 85274, 288558, 275101,
        404338, 174246, 271442, 309946, 224305, 339288, 1072321, 273746,
        236457, 349487, 263413, 365038, 370448, 365788, 267093, 251654,
        229284, 329078, 94941, 261879, 655037, 197091, 96840, 76399, 420636,
        249201, 304110, 269076, 248146, 211844, 428780, 1111258, 239502,
        162779, 257486, 265214, 222093, 247338, 26704229, 288589, 357091,
        259996, 63744, 510364, 317543, 158403], dtype=object), count     146
 unique     95
 top       NaN
 freq       51
 Name: salary, dtype: object)

In [37]:
df.loc['email_address'].describe()

count     146
unique    112
top       NaN
freq       35
Name: email_address, dtype: object

In [40]:
df.loc['total_payments'].describe()

count     146
unique    126
top       NaN
freq       21
Name: total_payments, dtype: object

In [41]:
df.head()

,ALLEN PHILLIP K,BADUM JAMES P,BANNANTINE JAMES M,BAXTER JOHN C,BAY FRANKLIN R,BAZELIDES PHILIP J,BECK SALLY W,BELDEN TIMOTHY N,BELFER ROBERT,BERBERIAN DAVID,...,WASAFF GEORGE,WESTFAHL RICHARD K,WHALEY DAVID A,WHALLEY LAWRENCE G,WHITE JR THOMAS E,WINOKUR JR. HERBERT S,WODRASKA JOHN,WROBEL BRUCE,YEAGER F SCOTT,YEAP SOON
bonus,4175000,NaN,NaN,1200000,400000,NaN,700000,5249999,NaN,NaN,...,325000,NaN,NaN,3000000,450000,NaN,NaN,NaN,NaN,NaN
deferral_payments,2869717,178980,NaN,1295738,260455,684694,NaN,2144013,-102500,NaN,...,831299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deferred_income,-3081055,NaN,-5104,-1386055,-201641,NaN,NaN,-2334434,NaN,NaN,...,-583325,-10800,NaN,NaN,NaN,-25000,NaN,NaN,NaN,NaN
director_fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3285,NaN,...,NaN,NaN,NaN,NaN,NaN,108579,NaN,NaN,NaN,NaN
email_address,phillip.allen@enron.com,NaN,james.bannantine@enron.com,NaN,frank.bay@enron.com,NaN,sally.beck@enron.com,tim.belden@enron.com,NaN,david.berberian@enron.com,...,george.wasaff@enron.com,dick.westfahl@enron.com,NaN,greg.whalley@enron.com,thomas.white@enron.com,NaN,john.wodraska@enron.com,NaN,scott.yeager@enron.com,NaN

In [54]:
df.loc['total_payments'][df.loc['poi']==True]

BELDEN TIMOTHY N          5501630
BOWEN JR RAYMOND M        2669589
CALGER CHRISTOPHER F      1639297
CAUSEY RICHARD A          1868758
COLWELL WESLEY            1490344
DELAINEY DAVID W          4747979
FASTOW ANDREW S           2424083
GLISAN JR BEN F           1272284
HANNON KEVIN P             288682
HIRKO JOSEPH                91093
KOENIG MARK E             1587421
KOPPER MICHAEL J          2652612
LAY KENNETH L           103559793
RICE KENNETH D             505050
RIEKER PAULA H            1099100
SHELBY REX                2003885
SKILLING JEFFREY K        8682716
YEAGER F SCOTT             360300
Name: total_payments, dtype: object

In [10]:
df.loc['poi'][df.loc['poi']==True].describe()

count       18
unique       1
top       True
freq        18
Name: poi, dtype: object